.body {
    background-color: black;
	background-image: url("lhc_img.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.top {
    margin: 20px;
    padding: 1px;
    text-align: center;
	font-family: 'Berkshire Swash', serif;
    text-shadow: 2px 2px black;
	font-size: 150%;
    color: #003300;
    background: rgba(51, 13, 0, .35);
    border-style: double;
    border-color: #003300;
    border-width: 10px;
}